﻿@model Pic2Friends.Models.Login
@{
    ViewData["Title"] = "Login";
}

<body class="bodyLogOn">
<div class="row">
    <div class="col-md-12">
        <fieldset style="width:250px">
            <legend>Login Form</legend>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" style="width:200px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" style="width:200px" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                    </div>

                </div>
                <button type="submit" class="btn-primary">Login</button>
            </form>
        </fieldset>
    </div>
</div>
</body>