﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Profile";
}

<body>
    <div class="new-post">
        <form class="post-form" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Profile">
            <div class="form-group">
                <div class="col-md-10">
                    <h1 style="text-align:center; font:bold; font-size:xx-large">Profile View</h1>
                    <br />
                    <img id="output" width="160" height="150" src="~/img/profilepics/@(user.Id).jpg" />
                    <br />
                    @*<p>Upload one or more files using this form:</p>*@
                    <br />
                    <input class="post-input" type="file" name="profilepic" accept=".jpg,.jpeg" onchange="displayImage(event)" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Change Profile Pic" />
                </div>
            </div>
        </form>
    </div>
</body>