﻿@model Pic2Friends.Models.Register
@{
    ViewData["Title"] = "Register";
}


<body class="bodyRegister">
    <div class="row">
        <div class="col-md-12">
            <fieldset style="width:250px">
                <legend>Register Form</legend>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" style="width:200px" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" style="width:200px" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" style="width:200px" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn-primary">Register</button>
                </form>
            </fieldset>
        </div>
    </div>
</body>