﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Posts";
}


<body>
    <style>
        #err {
            color: red;
        }
    </style>
    <div>
        <br />
        <br />
        <div class="new-post">
            <h1 style="text-align:center">Put all your post here and share</h1>
            <br />
            <form class="post-form" method="Post" enctype="multipart/form-data">
                <textarea name="Body" class="post-input" placeholder="Type here..."></textarea>
                <br />
                <button type="submit" class="btn-primary post-btn">Post</button>
            </form>
        </div>
        <br />
        <h4 id="err">@ViewBag.Error</h4>
        <div class="feed">
            @if (ViewBag.Posts != null && ViewBag.Posts.Length > 0)
            {
                foreach (var post in ViewBag.Posts)
                {
                    <div id="@post.Id" class="post">
                      <hr />
                      <img width="160" height="150" src="~/img/profilepics/@(post.User.Id).jpg" />
                      <h5>@post.User.Email</h5>
                      <h3>@post.Body</h3>
                       @if (post.User.Id == user.Id)
                        {
                            <button class="delete-post">Delete</button>   
                        }
                    </div>
                    

                }
            }
            else
            {
                <br />
                <h4>No posts yet</h4>
            }
        </div>
    </div>
    @*This block of code deletes post made by user *@
    <script>
        $(window).on('load', function() {
            $('.delete-post').on('click', function () {
                var ret = confirm(
                    'Are you sure you want to delete this post? with ID = ' + $(this).parent().attr('id')
                )
                if (ret) {
                    $.ajax({
                        url: '/' + $(this).parent().attr('id'),
                        type: 'DELETE',
                        success: () => {
                            $(`#${$(this).parent().attr('id')}`).remove()
                        }
                    });
                }
            });
        });
    </script>
</body>